html,
body,
.view{
	height: 100%;
}

body {
	background-color: #9B9C9D;
}

.scils {
    margin-left: 23%;
}

.center {
	display: block;
    margin: 0 auto;
}

.calcText {
 color: #EDEEF0;
}

.calcOut {
	color: #FFBB33;
}

.order {
	margin-left: 32%;
}

.orders {
	margin-left: 41%;
}

.calctext {
 color: #AEAFB0;
}

.page-footer {
	background-color: #000000;
}

.Service {
 opacity: 0;
 transition: 0.8s;
}

.Service:hover {
	opacity: 1;
	background: rgb(0,0,0,0.75) ;
}

.card-comments img{
	width: 4rem;
}

#Text1 {
	margin-left: 70px;
}

#Text2 {
	margin-left: 94px;
}

#Text3 {
	margin-left: 118px;
}

#Text4 {
	margin-left: 161px;
  margin-bottom: 80px;
}

#men:hover {
	font-size: 18px;
	color: #FFBB33;
}

body {
  font-family: sans-serif;
}
a {
  color: #369;
}
.note {
  width: 500px;
  margin: 50px auto;
  font-size: 1.1em;
  color: #333;
  text-align: justify;
}
#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}
#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}
#fileElem {
  display: none;
}


